extends ./layout/layout_main.jade

block content
  
  .wrap
    .container
      section#about
        h3 Summary
        p
          | Rodan is an experienced UI/UX/Web Designer with a high level of expertise in building consumer- focused Websites and Web Apps. Most of his exposures have been in the Information Technology and Services industry. His main responsibilities are: Producing Web/UI/Graphic design, maintenance of web application layout and resolving browser compatibility issues. Worked closely with a team of Programmers and help them provide the most useful and best possible layout design. Administer a diverse team to resolve issues and implement technical and design improvisation. Moreover, these taught Rodan in building stronger relationship not only with his colleagues in the same department but also to work harmoniously with the different groups in the organization.
        //- p
      //- section
    //- container
    section.experience
      .container
        h2
          i.fa.fa-flask.fa-2x
          br.hidden-xs
          | Work Experience
        //- h2
        .timeline
          .pole
          .scope.present
            .point
            .date February 2015 – Present
            .data
              strong F​ront-End Developer / Designer
              .company Twist Resources
            //- data
          //- scope
          .scope
            .point
            .date November 2012 – February 2015
            .data
              strong Web / Graphic Designer
              .company Twist Resources
            //- data
          //- scope
          .scope
            .point
            .date May 2009 – November 2012
            .data
              strong Web Designer
              .company Zgetcare Systems (a Company of RTZ Associates)
            //- data
          //- scope
          .scope
            .point
            .date February 2008 – April 2009
            .data
              strong Web Designer / Graphic Artist
              .company Solutions Resource
            //- data
          //- scope
        //- timeline
      //- container
    //- section
    .container
      section#portfolio.portfolio
        .text-center
          h2 Portfolio
          strong
            small.text-muted Recent Work
          //- strong
        //- text-center
        br
        br
        .row
          .col-xs-6.col-sm-3.col-md-3
            .thumb
              i.fa.fa-external-link-square.fa-3x
              a(href='http://ttstatic.github.io/happiv2/', target='_blank')
                img.center-block(src='assets/images/portfolio/port-happi.png', alt='')
              //- a
            //- thumb
            h4 Happi.SG
          //- col
          .col-xs-6.col-sm-3.col-md-3
            .thumb
              i.fa.fa-external-link-square.fa-3x
              a(href='http://ttstatic.github.io/themepalette/', target='_blank')
                img.center-block(src='assets/images/portfolio/port-tp.png', alt='')
              //- a
            //- thumb
            h4 Theme palette
          //- col
          .col-xs-6.col-sm-3.col-md-3
            .thumb
              i.fa.fa-external-link-square.fa-3x
              a(href='http://ttstatic.github.io/formsexpress/login', target='_blank')
                img.center-block(src='assets/images/portfolio/port-fe.png', alt='')
              //- a
            //- thumb
            h4 Forms Express
          //- col
          .col-xs-6.col-sm-3.col-md-3
            .thumb
              i.fa.fa-external-link-square.fa-3x
              a(href='http://ttstatic.github.io/usemetv/', target='_blank')
                img.center-block(src='assets/images/portfolio/port-usemetv.png', alt='')
              //- a
            //- thumb
            h4 Useme.tv
          //- col
        //- row
      //- section
    //- container
  //- wrap


block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){
      
    });
