extends ./layout/layout_main.pug

block content

  section#about
    .container
      h3 Summary
      p.lead Rodan is an experienced UI/UX/Web Designer with a high level of expertise in building consumer- focused Websites and Web Apps. Most of his exposures have been in the Information Technology and Services industry. His main responsibilities are: Producing Web/UI/Graphic design, maintenance of web application layout and resolving browser compatibility issues.
      p.lead Worked closely with a team of Programmers and help them provide the most useful and best possible layout design. Administer a diverse team to resolve issues and implement technical and design improvisation. Moreover, these taught Rodan in building stronger relationship not only with his colleagues in the same department but also to work harmoniously with the different groups in the organization.
      //- p
    //- container
  //- section
  section#certifications.certifications
    .container
      h3 Certifications
        br
        small Code School
      //- h3
      .row.text-center
        .col-md-3.col-sm-3.cert-box
          p.title Front-end Foundations
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Front-end Formations
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Blasting Off with Bootstrap
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Assembling Sass
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Assembling Sass Part 2
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Journey Into Mobile
            br
            small.text-muted HTML/CSS
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Try Git
            br
            small.text-muted GIT
          //- p
        //- col-md-3
        .col-md-3.col-sm-3.cert-box
          p.title Git Real
            br
            small.text-muted GIT
          //- p
        //- col-md-3
      //- row
    //- container
  //- section
  section.experience#experience
    .container
      h2
        i.fa.fa-briefcase.fa-2x
        br.hidden-xs
        | Work Experience
      //- h2
      .timeline
        .pole
        .scope.present.animated._1
          .point
          .date June 2022 – Present
          .data
            strong Web UI Designer
            .company
              a(href="", target="_blank") BMG Outsourcing, Inc.
          //- data
          .desc
            .content.collapse#slkdesc1
              .wrap
                small
                  p  » Create UI component based on Figma mockups for VueJS and ReactJS application
                  p  » Assist developers if complex UI implementation is needed
                  p  » Directly communicate with UX team and respective PMs to ensure quality
                  p  » Simultaneously work with multiple teams
                  p  » Digest css style via Tokens Studio for figma and deploy components library via Storybooks
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#slkdesc1", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._2
          .point
          .date June 2019 – June 2022
          .data
            strong Web Designer
            .company
              a(href="", target="_blank") Ancillary Services Inc.
          //- data
          .desc
            .content.collapse#slkdesc2
              .wrap
                small
                  p  » Create UI component based on Figma mockups for VueJS and ReactJS application
                  p  » Assist developers if complex UI implementation is needed
                  p  » Directly communicate with UX team and respective PMs to ensure quality
                  p  » Simultaneously work with multiple teams
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#slkdesc2", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._3
          .point
          .date February 2019 – June 2019
          .data
            strong Web Designer
            .company
              a(href="#", target="_blank") Freelance
          //- data
          .desc
            .content.collapse#slkdesc3
              .wrap
                small
                  p » Create UI components
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#slkdesc3", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._4
          .point
          .date February 2015 – Feb 2019
          .data
            strong F​ront-End Developer / Designer
            .company
              a(href="//www.twistresources.com/", target="_blank") Twist Resources
          //- data
          .desc
            .content.collapse#trdesc1
              .wrap
                small
                  p » Build prototypes in HTML and CSS
                  p » Preprocessing Tools Used: Pug, Sass, Gulp
                  p » Create and maintain responsive layout using Bootstrap
                  p » Assist developers to resolve front end issues
                  p » Support in using&nbsp;
                    a(href="//tooltwist.com/", target="_blank") ToolTwist
                    | &nbsp;Designer Development Platform
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#trdesc1", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._5
          .point
          .date November 2012 – February 2015
          .data
            strong Web / Graphic Designer
            .company
              a(href="//www.twistresources.com/", target="_blank") Twist Resources
          //- data
          .desc
            .content.collapse#trdesc2
              .wrap
                small
                  p » Create design mock up and integrate to&nbsp;
                    a(href="//tooltwist.com/", target="_blank") ToolTwist
                    | &nbsp;Designer Development Platform
                  p » Maintain stylesheets
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#trdesc2", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._6
          .point
          .date May 2009 – November 2012
          .data
            strong Web Designer
            .company
              a(href="//rtzassociates.com/", target="_blank") Zgetcare Systems (a Company of RTZ Associates)
          //- data
          .desc
            .content.collapse#zgetdesc
              .wrap
                small
                  p » Convert PDF image mock-ups into HTML pages
                  p » Maintained Web Applications layout and resolved browser compatibility issues
                  p » Integrate mock-ups on the application
                  p » Apply skinning using different stylesheets on a single code base application
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#zgetdesc", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
        .scope.animated._7
          .point
          .date February 2008 – April 2009
          .data
            strong Web Designer / Graphic Artist
            .company
              a(href="//solutionsresource.com/", target="_blank") Solutions Resource
          //- data
          .desc
            .content.collapse#srdesc
              .wrap
                small
                  p » Created Table less Web Layouts applying full CSS control
                  p » Created Company branding such as logos and banners and other graphics elements on web pages
                  p » Designed web graphics and page designs for online marketing campaigns
                  p » Ensuring that the website has current seasonal ranges, communicating any changes to the website maintenance
                  p » Worked with Team of developers for providing needed graphics and design elements
                  p » Work with Project Managers to review work schedule, deadlines and job requirements
              //- wrap
            //- content
            .btn-expand
              a.collapsed(href="#srdesc", data-toggle="collapse")
                i.fa.fa-chevron-down
              //- a
            //- btn-expand
          //- desc
        //- scope
      //- timeline
    //- container
  //- section
  section#skills.skill
    .container
      .row
        .col-md-8.col-md-offset-2
          .row
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_storybook.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_figma.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_html.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_css.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_sass.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_bootstrap.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_bulma.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_gulp.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_jquery.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_pug.png", alt="")
            //- col-md-3
            .col-md-4.col-sm-4.col-xs-4
              img.img-responsive.center-block(src="assets/images/skills/s_graphics.png", alt="")
            //- col-md-3
          //- row
        //- col
      //- row
    //- .container
    //- UI/UX Design, Responsive Web Design, Graphic Design, jQuery, Bootstrap, Sass, Gulp, Pug
  //- section
  section#portfolio.portfolio
    .container
      .text-center
        h2 HTML/CSS
          br
          small Code &amp; Design
        //- h2
      //- text-center
      .hidden-xs
        br
      //- hidden-xs
      .row
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._1
            i.fa.fa-external-link-square.fa-3x
            a(href='#')
              img.center-block(src='assets/images/portfolio/port-portfolio.png', alt='')
            //- a
            h4.animated My Portfolio!
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._2
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/convx/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-cx.png', alt='')
            //- a
            h4.animated ConvX
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._3
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/corelogic/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-cl.png', alt='')
            //- a
            h4.animated Corelogic
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._4
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/strata/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-strata.png', alt='')
            //- a
            h4.animated PIQ Strata
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._2
            i.fa.fa-external-link-square.fa-3x
            a(href='//doodledudes.github.io/ss/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-ss.png', alt='')
            //- a
            h4.animated Singapore School
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._5
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/happiv2/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-happi.png', alt='')
            //- a
            h4.animated Happi.SG
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._6
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/themepalette/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-tp.png', alt='')
            //- a
            h4.animated Theme palette
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4
          .thumb.animated._7
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/mhp/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-mhp.png', alt='')
            //- a
            h4.animated mHealth Pharma
          //- thumb
        //- col
        .col-xs-6.col-sm-6.col-md-4.col-sm-offset-3.col-xs-offset-3.col-md-offset-0
          .thumb.animated._8
            i.fa.fa-external-link-square.fa-3x
            a(href='//ttstatic.github.io/ratingsite/', target='_blank')
              img.center-block(src='assets/images/portfolio/port-jjj.png', alt='')
            //- a
            h4.animated Jinjerjade
          //- thumb
        //- col
      //- row
      br
    //- container
  //- section
  section#skills.skill
    .container.text-center
      h2
        i.fa.fa-flask.fa-2x
        br
        | Experiments
      br
      p.lead
        a(href='//github.com/doodledudes/theme-palette', target='_blank') Theme Palette
      //- p
      p Created custom theme from Bootstrap
      br
      p.lead
        a(href='//github.com/doodledudes/skeleton-pug-sass/tree/dev-bulma', target='_blank') skeleton-pug-sass
      //- p
      p A starter template using pug and sass.
      br
    //- .container
    //- UI/UX Design, Responsive Web Design, Graphic Design, jQuery, Bootstrap, Sass, Gulp, Pug
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){
      $("[data-toggle='tooltip']").tooltip();
    });
    // test
