@import '_mixins';

// Global
body {
	font-family: 'Ubuntu', sans-serif;
  color: #5a5a5a;
	font-size: 16px;
}
h1,h2,h3,h4,h5 {
	color: #38454F;
	margin-top: 0;
}
p {
	line-height: 28px;
}
hr {
	border-color: #495761;
}

// Navbar
.navbar {
	& {
		margin-bottom: 0;
	}
	.navbar-brand {
		& {
			float: none;
	    display: inline-block;
			color: #38454F;
			font-weight: 400;
		}
		img {
			width: 150px;
			margin: auto;
			@include border-radius(50%);
		}
		@media screen and (max-width: 767px) {
			& {
				position: absolute;
				left: 60px;
				right: 60px;
			}
			& .photo {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 40px;
			}
			& img {
				width: 25%;
			}
		}
		@media screen and (max-width: 500px) {
			& img {
				width: 40%;
			}
		}
	}
	.navbar-header {
		float: none;
		text-align: center;
	}
	.navbar-collapse {
		text-align: center;
	}
	.navbar-nav {
		float: none;
		display: inline-block;
	}
	.navbar-nav > li > a {
		// text-transform: uppercase;
	}

	.navbar-toggle {
    border: none;
		@include border-radius(0);
		.icon-bar {
			background: #6DC9CC;
		}
		&:focus, &:hover, &:active {
			background: #ECF0F1;
		}
	}
}
.banner {
	background: #6dc9cc;
	.monitor {
		background: #9777a8;
	}
	.browser img, .monitor img {
		visibility: hidden;
	}
	@media screen and (min-width: 768px) {
		.browser img, .monitor img {
			visibility: visible;
		}
	}
}

section {
	& {
		padding: 40px 0;
	}
	&.portfolio {
		& {
			background: whitesmoke;
		}
		.thumb {
			& {
				margin-bottom: 15px;
		    // border: 1px solid #38454F;
		    // border-bottom-width: 8px;
		    overflow: hidden;
				@include box-shadow(0px 0px 8px 0px rgba(84, 84, 84, .1));
				visibility: hidden;
			}
			&:hover {
				// @include box-shadow(0 1px 2px rgba(0, 0, 0, .15));
			 	img {
					transform: scale(1.2,1.2);
				}
			}
			img {
				@include transition(all, ease-in-out, .2s);
				max-width: 100%;
				min-width: 100%;
			}
			.fa {
				display: none;
			}
			& + h4 {
				text-align: center;
				margin-bottom: 45px;
				visibility: hidden;
			}
		}
		h2 {
			text-transform: uppercase;
		}
	}
	&.experience {
		& {
			padding: 40px 0;
			background: #38454F;
		}
		&, h2 {
			color: #E7ECED;
		}
		& h2 {
			text-align: center;
			font-size: 28px;
			text-transform: uppercase;
			i {
				color: #2B3339;
			}
		}
		.timeline {
			position: relative;
			@media screen and (min-width: 768px) {
		    padding: 30px 0;
			}
			.pole {
				position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    height: 100%;
		    width: 10px;
		    background: #E7ECED;
				@include border-radius(5px);
				@media screen and (min-width: 768px) {
					margin: auto;
				}
			}
			.scope {
				& {
					position: relative;
					background: #2C343A;
					color: white;
					margin: 10px 0;
					visibility: hidden;
					@include border-radius(4px);
				}
				&.present {
					.point {
						& {
							background: #24AE5F;
						}
					}
				}
				.date {
					padding: 15px;
					background: #768E98;
					@include border-radius-top(4px);
				}
				.data {
					padding: 15px;
				}
				.point {
					position: absolute;
					background: #ED7161;
					border: 2px solid #E7ECED;
					padding: 2px 0;
					text-align: center;
					@include border-radius(50%);
					@include box(30px);
					&:before {
						font-family: "FontAwesome";
						content: "\f041";
					}
				}
				.company a {
					color: #aaa;
				}
				&:nth-child(even) {
					margin-left: 30px;
					.point {
						left: -40px;
				    top: 12px;
					}
					&:before {
						content: "";
				    width: 0;
				    height: 0;
				    border-top: 10px solid transparent;
				    border-bottom: 10px solid transparent;
				    border-right: 10px solid #768E98;
				    position: absolute;
				    left: -10px;
				    top: 16px;
					}
				}
				&:nth-child(odd) {
					margin-left: 30px;
					.point {
						left: -40px;
				    top: 12px;
					}
					&:before {
						content: "";
				    width: 0;
				    height: 0;
						border-top: 10px solid transparent;
					  border-bottom: 10px solid transparent;
					  border-left: 10px solid #768E98;
				    position: absolute;
						left: -10px;
				    top: 16px;
				    transform: rotate(180deg);
					}
				}
				@media screen and (min-width: 768px) {
					width: 45%;
					&:nth-child(even) {
						margin-left: calc(50% + 25px);
					}
					&:nth-child(odd) {
						margin-left: 20px;
				    width: calc(50% - 45px);
						.point {
							right: -40px;
							left: inherit;
						}
						&:before {
					    transform: none;
							right: -10px;
							left: inherit;
						}
					}
				}

				.desc {
					.btn-expand {
						text-align: center;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    border-top: 1px solid #3A434A;
						a {
					    color: #768E98;
							display: block;
							&:not(.collapsed) {
								i:before {
									content: "\f077";
								}
							}
						}
					}
					.content {
						background: #3C7B88;
						.wrap {
							padding: 15px;
					    background: #212629;
							color: gray;
							a {
								color: white;
							}
						}
					}
				}
			}
		}
	}
	._1 {

	}
	._2 {
		-webkit-animation-duration: 1.5s;
	}
	._3 {
		-webkit-animation-duration: 2s;
	}
	._4 {
		-webkit-animation-duration: 2.5s;
	}
	._5 {
		-webkit-animation-duration: 3s;
	}
	._6 {
		-webkit-animation-duration: 3.5s;
	}
}

footer {
	& {
		text-align: center;
		padding: 85px 0 45px;
		background: #2C343A;
		position: relative;
	}
	img {
		width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -60px;
	}
	& {
		color: white;
	}
	i {
		color: #768E98;
	}
	a {
		&, &:hover, &:active, &:visited, &:link {
			text-decoration: none;
		}
	}
	strong {
		font-weight: normal;
		text-transform: uppercase;
		font-size: 14px;
	}
	span.text {
		color: #ACABB1;
	}
	.credits {

	}
}

.wrap {
	padding: 15px 0 0;
}
@media screen and (min-width: 768px) {
	.wrap {
		// padding: 40px 0 70px;
	}
	.navbar {
		.navbar-header {
	    margin-top: -93px;
		}
		.navbar-brand {
			font-size: 30px;
		}
	}
}
