footer
  img(src="assets/images/img-card.png", alt="")
  .container
    p
      strong Email
      br
      i.fa.fa-envelope
      | &nbsp;&nbsp;
      a(href="mailto:rodanaluzuriaga@gmail.com", target="_blank")
        span.text rodanaluzuriaga@gmail.com
    p
      strong Mobile
      br
      i.fa.fa-mobile
      | &nbsp;&nbsp;
      span.text +63 917 537 2787
    p
      strong Skype
      br
      i.fa.fa-skype
      | &nbsp;&nbsp;
      span.text doodledudes
    hr
    small
      | Icons made by 
      a(href='http://www.freepik.com', title='Freepik') Freepik
      |  from 
      a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
      |  is licensed by 
      a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
