footer
  img(src="assets/images/img-card.png", alt="")
  .container
    .row
      .col-md-4.col-md-offset-4
        p
          strong Email
          br
          i.fa.fa-envelope
          | &nbsp;&nbsp;
          a(href="mailto:rodanaluzuriaga@gmail.com", target="_blank")
            span.text rodanaluzuriaga@gmail.com
          //- a
        //- p
      //- col-md-4
      //
        .col-md-4
          p
            strong Mobile
            br
            i.fa.fa-mobile
            | &nbsp;&nbsp;
            span.text +63 917 537 2787
        //- p
      //- col-md-4
      //
        .col-md-4
          p
            strong Skype
            br
            i.fa.fa-skype
            | &nbsp;&nbsp;
            span.text doodledudes
        //- p
      //- col-md-4
    //- row
    p
      a.btn.btn-danger.btn-lg.cv(href="//drive.google.com/file/d/1MfuqKvIBATdD6PPQD7x8zAmp59Iv2o7a/view?usp=sharing", target="_blank")
        i.fa.fa-file-pdf-o
        span Download CV
    br
    hr
    .credits
      div
        small
          | Designed on top of&nbsp;
          a(href="http://getbootstrap.com", target="_blank") Bootstrap v3.3.6&nbsp;
          | &middot;&nbsp;Licensed under&nbsp;
          a(href="https://github.com/twbs/bootstrap/blob/master/LICENSE", target="_blank") MIT&nbsp;
        //- small
      //- div
      div
        small
          | Icons made by&nbsp;
          a(href='http://www.freepik.com', title='Freepik') Freepik&nbsp;
          | from&nbsp;
          a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com&nbsp;
          | is licensed by&nbsp;
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY&nbsp;
        //- small
      //- div
      div
        small
          i.fa.fa-flag
          | &nbsp;Font Awesome 4.6.3&nbsp;
          span.hide-xs &middot;&nbsp;
          | Created by&nbsp;
          a(href='https://twitter.com/davegandy') Dave Gandy&nbsp;
        //- small
      //- div
      div
        small
          a(href="https://daneden.github.io/animate.css/", target="_blank") Animate.css&nbsp;
          | is licensed under the&nbsp;
          a(href="http://opensource.org/licenses/MIT", target="_blank") MIT&nbsp;
          | license.
        //- small
      //- div
    //- credits
