footer
  img(src="assets/images/img-card.png", alt="")
  .container
    p
      strong Email
      br
      i.fa.fa-envelope
      | &nbsp;&nbsp;
      a(href="mailto:rodanaluzuriaga@gmail.com", target="_blank")
        span.text rodanaluzuriaga@gmail.com
    p
      strong Mobile
      br
      i.fa.fa-mobile
      | &nbsp;&nbsp;
      span.text +63 917 537 2787
    p
      strong Skype
      br
      i.fa.fa-skype
      | &nbsp;&nbsp;
      span.text doodledudes
    p
      a.btn.btn-info.cv(href="//drive.google.com/open?id=0BxsOBVKZJVDsNkcwZ3p0bGU4R00", target="_blank")
        i.fa.fa-file-pdf-o.fa-2x
        | Download CV
    hr
    .credits
      div
        small
          | Designed on top of
          a(href="http://getbootstrap.com", target="_blank") Bootstrap v3.3.6
          | &nbsp;&middot;&nbsp; Licensed under
          a(href="https://github.com/twbs/bootstrap/blob/master/LICENSE", target="_blank") MIT
        //- small
      //- div
      div
        small
          | Icons made by
          a(href='http://www.freepik.com', title='Freepik') Freepik
          |  from
          a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
          |  is licensed by
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
        //- small
      //- div
      div
        small
          i.fa.fa-flag
          | &nbsp;Font Awesome 4.6.3
          span.hide-xs &nbsp;&middot;&nbsp;
          | Created by
          a(href='https://twitter.com/davegandy') Dave Gandy
        //- small
      //- div
      div
        small
          a(href="https://daneden.github.io/animate.css/", target="_blank") Animate.css
          | &nbsp;is licensed under the
          a(href="http://opensource.org/licenses/MIT", target="_blank") MIT
          | &nbsp;license.
        //- small
      //- div
    //- credits
